.cart {
    min-height: 70vh;
    margin-top: 3rem;
}

.contBtn {
    padding-top: 2rem;
    padding-left: 0.5rem;
}

@media (max-width: 800px) {
    .contBtn {
        margin-right: auto;
    }
}

@media (min-height: 1000px) {
    .cart {
        min-height: 90vh;
    }
}