.cardDetail {
    box-shadow: 0px 0px 49px 20px rgba(138, 48, 126, 0.733);
    border: 0.5px solid rgba(138, 48, 126, 0.733);
    margin-top: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 4rem;
    border-radius: 10px;
    width: auto;
}

.imgDetail {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.cardTitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 2rem;
}

.cardText {
    font-size: 20px;
    line-height: 15px;
}

.cardPrice {
    font-size: 30px;
    font-weight: bold;
}

.stockText {
    color: grey;
    background-color: rgb(214, 214, 214);
}


@media (max-width: 800px) {
    .cardDetail{
        margin-right: 3rem;
        margin-left: 3rem;
        min-height: 60vh;
        width: auto;
    }
    
    .cardTitle {
        font-size: 30px;
        font-weight: bold;
    }

    .cardText {
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
    }
    

    .imgDetail {
        height: 350px;
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media (min-height: 1000px) {
    .cardTitle {
        font-size: 40px;
    }
    .cardText {
        font-size: 30px;
    }
    .cardPrice {
        font-size: 40px;
    }
}