.itemDC {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-height: 1000px) {
    .itemDC {
        min-height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}