.inicio {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5246e2;
}

.inicioImg {
    display: flex;
    flex-direction: column;
}

.imagenOfi {
    width: 600px;
    height: 400px;
}

.inicioDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inicioDivDos {
    padding: 4rem;
    color: #302A55;
}

.inicioDivDos__uno {
    margin-bottom: 4rem;
    background-color: #fafbff;
}

.inicioDivDos__dos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgCliente {
    height: 123px;
    width: 123px;
    margin-left: 6rem;
}

.inicioIcons {
    margin-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.imagenDosDiv {
    padding-right: 15rem;
    padding-left: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagenDos {
    font-weight: bolder;
    color: #ffffff;
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 150%!important;
    font-style: normal;
}



@media (max-width: 900px) {
    .inicioIcons {
        margin: auto;
    }
    .imagenDosDiv {
        padding-right: 4rem;
        padding-left: 4rem;
    }
    .inicio {
        flex-wrap: wrap;
    }
    .imagenOfi {
        width: 300px;
        height: 200px;
        margin-bottom: 2rem;
    }
}