.imagen {
    width: 150px;
    height: 60px;
}

.imagen:hover {
    border: 1px solid rgb(125,78,242);
}

.detail {
    text-decoration: none;
    margin: 1rem;
}

.nav {
    padding: 1rem;
    background-color: #5246e2;
}

.navDerecha {
    display: flex;
    justify-content: flex-end;
}

.detail:hover {
    background-color: #2131a8;
    border-radius: 5px;
}

@media (min-height: 1000px) {
    .nav {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-height: 900px) {
    .detail {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 20px;
    }
}