.App {
  text-align: center;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.bComprar {
  background-color: #3c50e0;
  border-radius: 4px;
  font-size: 15px;
  padding: 8px 15px!important;
  font-weight: bold;
  font-style: normal;
  color: aliceblue;
  border-color: #3c50e0;
}

.bComprar:hover {
  background-color: #2131a8;
}